.locale-switcher {
  button {
    padding: 8px 0px 8px 8px !important;
    border: none !important;

    .arrow-dropdown {
      min-width: 8px !important;
      min-height: 8px !important;
      margin: 8px !important;
      background-color: rgb(var(--color-primary-alt)) !important;
    }
  }

  button:hover {
    background-color: rgba(var(--color-foreground), 0.2) !important;
    border-radius: 40px;
  }

  h1 {
    color: rgba(var(--color-primary-alt));
    font-size: var(--font-size-normal);
    font-weight: 500;
  }

  .dropdown-menu {
    bottom: 0;
    margin-bottom: 40px;
    border-radius: 16px;
    padding: 8px;
  }

  .dropdown-menu li {
    border-radius: 16px;
    padding: 8px 16px;
  }
}
