.navigation-item {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(var(--color-secondary));
}

.navigation-item .link {
  padding: 10px;
  color: rgb(var(--color-secondary));
}

body.mobile {
  .navigation-item .link {
    color: rgb(var(--color-secondary));
    width: 100%;
    text-align: center;
  }

  .navigation-item {
    width: 100%;
  }
}
